.featured{
    background-image:
        linear-gradient(rgba(35,35,35,.75),rgba(35,35,35,.75)),
        url(/../../../assets/images/featured/bg2.jpg)
    ;
    background-size:cover;
    background-position:bottom center;
    font-family: 'Roboto', sans-serif; font-weight:300;

    &__text{
        font-size:1.75rem;line-height:1.6;margin-bottom:3rem; color:darken($pri-white,10%);
        @media(max-width:530px){font-size:1.2rem;}
    }

    &__card-container{
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        // flex-direction:column;
    }
    &__card{
        // background-color:pink;
        flex:1;
        flex-basis:360px;
        margin:1rem; padding:1rem 2rem;
        color:$pri-white;
        @media(max-width:530px){padding:1rem 0;}

        h3{
            padding-bottom:1rem;
            font-size:1.85rem;
        }
        p{
            font-size:1.15rem;
            &:not(:first-of-type){padding-top:.65rem;}
            span{color:lighten($pri-red,20%);}
        }
    }

    .row{padding-top:7rem; padding-bottom:7rem;}
    .title{margin-bottom:2rem; color:lighten($pri-red,25%);}
}