.contact-form{
    width:30%;
    font-size:1.25rem;

    &__row{
        &:not(:last-of-type){margin-bottom:1rem;}
        &>label, &>input, &>textarea, &>span{display:block;}
        input{
            width:100%;
            font-size:1rem; color:rgb(150,150,150);
            padding:.5rem;
            border-radius:5px;
            border:2px solid rgb(190,190,190);
            &:focus{outline:none; border:2px solid rgb(100, 155, 120);}
            &[type=submit]{
                border-radius:50px;
                border:2px solid transparent;
                padding:10px 45px;
                background-color:$pri-red;
                color:$pri-white;
            }
        }
        textarea{
            width:100%;
            font-size:1rem; color:rgb(150,150,150);
            padding:.5rem;
            border-radius:5px;
            border:2px solid rgb(190,190,190);
            &:focus{outline:none; border:2px solid rgb(100, 155, 120);}
        }
    }

    // .btn{background-color:pink;}

}